.header {
    background-color: #eeeeee;
    text-align: center;
    padding: 8vh;
}

.title {
    font-size: 2.2em;
    margin: 1rem;
    line-height: 1.2em;
    letter-spacing: 0.01em;
}

.caption {
    font-size: 1.4em;
    margin: 0;
    line-height: 1.2em;
}
