@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.card {
   font-family: 'Open Sans', sans-serif;
   display: grid;
   grid-template-columns: 150px 1fr 150px;
   grid-template-rows: 40px auto;
   border: 1px solid #aaaaaa;
   padding: 2vh;
}

.card-header p {
    margin-top: 0;
    margin-bottom: 0.3rem;
}

p .bold {
    font-weight: 700;
}

.synopsis {
    text-align: left;
}

.card-links .buttons{
    margin-right: 0.5rem;
    padding: 1vh 1.4vh;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    outline: none;
    color: #efefef;
    background-color: #eb5a55;
}

#view-button {
    padding: 0.75vh 1.4vh 0.9vh;
}

.card .buttons:hover {
    background-color: rgba(235, 90, 85, 0.92);
}

.card-img {
    grid-row: 1/-1;
}

.card-description {
    grid-column: 2/-1;
}

@media only screen and (max-width: 1024px) {
    .card {
        grid-template-columns: 150px 1fr 200px;
    }

    #view-button {
        padding: 0.86vh 1.4vh 0.9vh;
    }
}

@media only screen and (max-width: 480px) {
    .card {
        grid-template-columns: 150px 1fr;
        grid-template-rows: 165px auto auto;
        padding: 2vh;
    }

    .card-img {
        grid-row: 1/3;
    }

    .card-links {
        grid-row: 2/3;
        grid-column: 2/-1; 
    }

    .card-description {
        grid-column: 1/-1;
    }

    #view-button {
        padding: 0.75vh 1.4vh 0.9vh;
    }
}