.header {
    background-color: #eeeeee;
    text-align: center;
    padding: 10vh;
}

.title {
    font-size: 2.2em;
    margin: 1rem;
    line-height: 1.2em;
    letter-spacing: 0.01em;
}

.caption {
    font-size: 1.4em;
    margin: 0;
    line-height: 1.2em;
}

@media only screen and (max-width: 1024px) {
    .header {
        padding: 8vh;
    }
}

@media only screen and (max-width: 480px) {
    .header {
        max-width: 100%;
        padding: 2vh;
    }
}