.navbar {
    width: 100%;
    min-height: 8vh;
    background-color: #eb5a55;   
}

.nav-items {
    list-style: none;
    padding: 2vh;
    margin: 0;  
    display: flex;
    cursor: pointer;
}

.link-margin {
    margin-top: 0.47vh;
}

.home-link {
    font-size: 1.3em;
    color: #ffffff;
    margin-right: 1rem;
    font-weight: 500;
    text-decoration: none;
}

.page-links {
    font-size: 1.1em;
    color: #efefef;
    margin-right: 0.6rem;
    text-decoration: none;
}

.page-links:hover {
    color: #ffffff;
}


@media only screen and (max-width: 1024px) {
    .link-margin {
        margin-top: 0.3vh;
    }

    .home-link {
        font-size: 1.6em;
    }
    
    .page-links {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 480px) {
    .link-margin {
        margin-top: 0.47vh;
    }

    .home-link {
        font-size: 1.3em;
    }
    
    .page-links {
        font-size: 1.1em;
    }
}